<div class="row">
  <div class="col-sm-2">
    <app-side-nav></app-side-nav>
  </div>
  <div class="col-sm-10 ps-3 mt-2">
    <div class="outer-container">
      <div class="position-absolute">Dashboard</div>
      <div class="main-container">
        <div class="left-container">
          <div class="uper-container">
            <div class="add-button">
              <div
                class="btn addbutton btn-outline-primary p-2 m-2 justify-content-end"
                data-bs-toggle="modal"
                data-bs-target="#exampleModaljob"
              >
                <img
                  src="../../assets/Icon/Customer/person_add_FILL0_wght400_GRAD0_opsz48.png"
                  alt="Bootstrap"
                  width="20"
                  height="20"
                />
                Add Job
              </div>
              <div
                class="btn addbutton btn-primary justify-content-end"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <img
                  src="../../assets/Icon/Customer/person_add_FILL0_wght400_GRAD0_opsz48.png"
                  alt="Bootstrap"
                  width="20"
                  height="20"
                />
                Add Customer
              </div>
              <div class="btn addbutton">Add 3</div>
              <div class="btn addbutton">Add 4</div>
              <div class="btn addbutton">Add 5</div>
              <div class="btn addbutton">Add 6</div>
            </div>
            <div class="job-table-container">
              <div class="job-count">
                <div class="job-counts">{{InstallationfilteredJobs.length}}</div>
                <div class="job-counts">{{BreakdownsfilteredJobs.length}}</div>
                <div class="job-counts">1</div>
              </div>
              <div class="job-table">asdad</div>
            </div>
          </div>
          <div class="lower-container">
            <div class="graph-container">asda</div>
            <div class="summary-container">asdad</div>
          </div>
        </div>
        <div class="right-container">
          <div class="job-counts right-upper">asda</div>
          <div class="customer-table">asdad</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form #addForm="ngForm" (ngSubmit)="onAddCustomer(addForm)">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card mb-4">
            <div class="card-body">
              <div>
                <h3 class="h6 mb-4">Basic information</h3>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Customer Name :</label>
               
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      ngModel
                      name="name"
                      required
                      minlength="2"
                      maxlength="50"
                    />

             
                    <div
                      *ngIf="
                        addForm.controls['name'].invalid &&
                        (addForm.controls['name'].dirty ||
                          addForm.controls['name'].touched)
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['name'].errors?.['required']"
                        >Customer name is required.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['name'].errors?.['minlength']"
                        >Customer name must be at least 2 characters
                        long.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['name'].errors?.['maxlength']"
                        >Customer name cannot be longer than 50
                        characters.</small
                      >
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Contact Person Name :</label>
            
                    <input
                      type="text"
                      class="form-control"
                      id="contactPersonName"
                      ngModel
                      name="contactPersonName"
                      required
                      minlength="2"
                      maxlength="50"
                    />

                    <div
                      *ngIf="
                        addForm.controls['contactPersonName'].invalid &&
                        (addForm.controls['contactPersonName'].dirty ||
                          addForm.controls['contactPersonName'].touched)
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['contactPersonName'].errors?.['required']"
                        >Customer Contact PersonName is required.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['contactPersonName'].errors?.['minlength']"
                        >Customer Contact PersonName must be at least 2
                        characters long.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['contactPersonName'].errors?.['maxlength']"
                        >Customer Contact PersonName cannot be longer than 50
                        characters.</small
                      >
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="mb-3">
    
                    <label class="form-label">Identity Number :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nic_number"
                      ngModel
                      name="nic_number"
                      required
                      minlength="10"
                      maxlength="12"
                      pattern="[0-9]*"
                    />

             
                    <div
                      *ngIf="
                        addForm.controls['nic_number'].invalid &&
                        (addForm.controls['nic_number'].dirty ||
                          addForm.controls['nic_number'].touched)
                      "
                      class="text-danger"
                    >
                      <small
                        *ngIf="addForm.controls['nic_number'].errors?.['pattern']"
                        >Identity Number must be a number.</small
                      >
                      <small
                        *ngIf="addForm.controls['nic_number'].errors?.['required']"
                        >Identity Number is required.</small
                      >
                      <small
                        *ngIf="addForm.controls['nic_number'].errors?.['minlength']"
                        >Identity Number must be at least 10 digits long.</small
                      >
                      <small
                        *ngIf="addForm.controls['nic_number'].errors?.['maxlength']"
                        >Identity Number cannot be longer than 12 digits.</small
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Mobile Number:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="contactNumber"
                      name="contactNumber"
                      ngModel
                      required
                      pattern="^[0-9]{10}$"
                    />
                    <div
                      *ngIf="
                        addForm.controls['contactNumber'].invalid &&
                        (addForm.controls['contactNumber'].dirty ||
                          addForm.controls['contactNumber'].touched)
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['contactNumber'].errors?.['required']"
                      >
                        Mobile number is required.
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['contactNumber'].errors?.['pattern']"
                      >
                        Mobile number must be a 10-digit number.
                      </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Address :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="address"
                      ngModel
                      name="address"
                      required
                      minlength="10"
                      maxlength="50"
                    />
                    <div
                      *ngIf="
                        addForm.controls['address'].invalid &&
                        (addForm.controls['address'].dirty ||
                          addForm.controls['address'].touched)
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['address'].errors?.['required']"
                        >Customer Address is required.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['address'].errors?.['minlength']"
                        >Customer Address must be at least 10 characters
                        long.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['address'].errors?.['maxlength']"
                        >Customer Address cannot be longer than 50
                        characters.</small
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label"> E- mail :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      ngModel
                      name="email"
                      required
                      email
                    />
                    <div
                      *ngIf="
                        addForm.controls['email'].invalid &&
                        (addForm.controls['email'].dirty ||
                          addForm.controls['email'].touched)
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['email'].errors?.['required']"
                      >
                        E-mail is required.
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="addForm.controls['email'].errors?.['email']"
                      >
                        Invalid e-mail format.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label class="form-label">Designation :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="designation"
                      ngModel
                      name="designation"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            id="add-customer-form"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>


          <button
            [disabled]="addForm.invalid"
            type="submit"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</form> -->

