<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#" style="color:white;" >Site Visit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Add SiteVisit <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
        <input type="search" name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search siteVisits..." required>  
        </form>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div *ngFor="let siteVisit of siteVisits" class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-archive text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">{{siteVisits?.length}}</h5>
                    <p class="text-muted mb-0">Total Site Visits</p>
                </div>
            </div>
        </div>
        <div *ngFor="let siteVisit of siteVisits" class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-th text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">{{25}}</h5>
                    <p class="text-muted mb-0">Completed Site Visits</p>
                </div>
            </div>
        </div>
        <div *ngFor="let siteVisit of siteVisits" class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-file text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">25</h5>
                    <p class="text-muted mb-0">Pending Site Visits</p>
                </div>
            </div>
        </div>
        <div *ngFor="let siteVisit of siteVisits" class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group mb-0">
                            <label>Search</label>
                            <div class="input-group mb-0">
                                <input type="text" class="form-control" placeholder="Search..." aria-describedby="siteVisit-search-addon" />
                                <div class="input-group-append">
                                    <button class="btn btn-danger" type="button" id="siteVisit-search-addon"><i class="fa fa-search search-icon font-12"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div *ngFor="let siteVisit of siteVisits" class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive siteVisit-list">
                        <table class="table siteVisit-table table-centered table-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Site Visits</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Team</th>
                                    <th scope="col">Vehicle</th>
                                    <th scope="col">Date Range</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{siteVisits?.length}}</th>
                                    <td>{{siteVisit?.siteVisitId}}</td>
                                    
                                    <td>{{siteVisit?.scheduledDate | date: 'yyyy-MM-dd'}}</td>

                                    <td>
                                        <span class="text-success font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i> {{siteVisit?.state}}</span>
                                    </td>
                                    <td>{{ siteVisit?.assignedTeamId.toString().padStart(9, '0') + 'v' }}</td>

                                    <td>{{siteVisit?.assignedVehicle}}</td>
                                    <td>{{siteVisit?.dateRange | date: 'yyyy-MM-dd'}}</td>
                                    <td>
                                        <div class="action">
                                            <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                            <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa-remove h5 m-0"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- end project-list -->

                    <div class="pt-3">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>